html{
    scroll-behavior: smooth;
}

:root{
    --text: #000000;
    --background: #fEFAE0;
    --primary: #D4A373;
    --secondary: #FAEDCD;
    --accent: #CCD5AE;
}

body{
    background-color: var(--background);
    font-size: 1rem;
    font-family:'Inter',sans-serif ;
}
header{
    background-color: var(--background);
    top: 0;
    position: sticky;
}

nav{
    border-bottom: 1px solid rgba(150, 150, 150, 0.603);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 
#name{
    font-size: 1.5rem;
}

nav a{
    color: black;
    text-decoration: none;
    /* background-color: red; */
    padding: 1rem;
    border-radius: 5px;
    transition: background-color 250ms;
}
nav a:hover{
    background-color: var(--primary);
}
#presentation{
    position: relative;
    
}
#presentation::before{
    content: "";
    background-image: url('../imgs/kari-shea-1SAnrIxw5OY-unsplash.jpg');
    background-size: cover;
    
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    
}
#name{
    position: relative;
}


@media screen and (min-width:776px) {
    #presentation{
        height: 50vh;
    }
}