.c-item{
    height: 100%;
}
.c-cont{
    height: 50vh;
    margin: auto;
}
#text{
    margin: 1rem;
}
#services{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}